@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #FFF;
  min-height: 100%;
  font-family: "Verdana", sans-serif;
}

.workspace-wrapper header {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-wrapper header p {
  margin-top: .5rem;
  font-size: .925rem;
}

.map {
  background-color: #ffffff;
  align-items: center;
}




.workspace-wrapper #map {
  width: 800px;
  height: 475px;
  margin: 2rem auto 0;
}

.slidecontainer {
  width: 80%; /* Width of the outside container */
  margin: auto;
}

.valuecontainer{
  width: 80%; /* Width of the outside container */
  margin: auto;
}

.year{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.guide {
  width: 100%;
}

.buttons {
  padding-right: 10px;
  height: 25px;
  font-size: 1.8rem;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 95%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #8bda57; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


.btn-group button {
  background-color: #ffffff; /* Green background */
  border: 2px solid black; /* Green border */
  color: #000000; /* White text */
  padding: 15px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #8bda57;
}


.custom-select {
  position: relative;
  font-family: Arial;
}


.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.chart_div {
  visibility: hidden;
}